* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 15px;
    text-transform: capitalize;
    border-bottom: 1px solid rgb(231, 223, 223);
}

.logo {
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlist {
    margin-left: 70px;
    text-decoration: none;
    color: black;
}

.navlist:hover,
.login-singup-nav:hover {
    color: #a794c1;
    border-bottom: 1px solid #a794c1;
}

.cart {
    display: flex;
    align-items: center;
    position: relative;
}

.cart-top {
    position: absolute;
    top: -23px;
    left: 14px;
    background-color: red;
    padding: 7px;
    padding-left: 10px;
    border-radius: 50%;
    font-size: 11px;
}

.shoppingCart {
    width: 30px;
}

.login-singup {
    margin-left: 190px;
    text-decoration: none;
}

.login-singup-nav {
    text-decoration: none;
    color: black;
}