* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.tab-container {
  margin: 6vh auto;
  width: 75%;
}
.Mui-selected {
  background-color: #FAF6FF !important;
  border-radius: 5px 5px 0 0 !important;
  padding: 5px !important;
  margin: 5px !important;
}
.css-19kzrtu {
  padding: 0 !important;
}
img{
  width: 100%;
}
.css-1nuo49t-MuiButtonBase-root-MuiTab-root {
  border-radius: 5px 5px 0 0 !important;
  padding: 5px !important;
  margin: 5px !important;
}